@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
  color: #ffffff;
}

img {
  width: 180px;
  height: 180px;
  margin-bottom: 30px;
}

h2 {
  margin: 60px 0px;
}

/* ボタンのデザイン */
.re{
  display: inline-block;
  margin-top: 10px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ffffff;/*ボタン色*/
  color: #000000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.re:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.re {
  
}

